body {
  background: #172f63;
  color: #fff;
  font-family: 'Roboto', sans-serif;

  // color: rgb(126, 181, 226);
  font-family: sans-serif;
  font-size: 14px;
  padding: 20px;
}

a, a:link, a:visited, a:link, a:active {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}


button {
  border: none;
  background-color: rgba(38, 126, 184, 0.5);
  padding:10px;
  margin: 10px 0;
  color: white;
  outline: none;
  transition: background-color 100ms;
  cursor: pointer;
}
button:hover {
  background-color: rgba(38, 126, 184, 0.75);
}
button:active {
  background-color: rgba(126, 191, 231, 0.5);
}
